<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.171178627421-ioncb1m17pghul1gqj068vmn4n0vn14h</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>171178627421-ioncb1m17pghul1gqj068vmn4n0vn14h.apps.googleusercontent.com</string>
</dict>
</plist>
